# Test Frubana R&D Software Engineering
## Edilson Fernando Gonzalez

## Libs

In [17]:
!pip install SQLAlchemy
!pip install psycopg2

Requirement already satisfied: SQLAlchemy in c:\users\efgm1\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\efgm1\anaconda3\lib\site-packages (from SQLAlchemy) (1.1.1)
Requirement already satisfied: psycopg2 in c:\users\efgm1\anaconda3\lib\site-packages (2.9.5)

## Setup project

In [18]:
import sqlalchemy
import pandas as pd

db_url = 'postgresql+psycopg2://demo:K2tinVstcd4WY5@localhost:5432/demo'
engine = sqlalchemy.create_engine(db_url)

## Exercise 1
Create a query to retrieve flights related to planes having the most used aircraft model (tip: use CTE - Common Table Expressions), and load the data in a Pandas DataFrame

In [19]:
conn = engine.connect().execution_options(autocommit=True)
query = f"""
    SELECT * FROM airports;
"""
df = pd.read_sql(query, con=conn)
df

,airport_code,airport_name,city,coordinates,timezone
0,YKS,Yakutsk Airport,Yakutsk,"(129.77099609375,62.093299865722656)",Asia/Yakutsk
1,MJZ,Mirny Airport,Mirnyj,"(114.03900146484375,62.534698486328125)",Asia/Yakutsk
2,KHV,Khabarovsk-Novy Airport,Khabarovsk,"(135.18800354004,48.52799987793)",Asia/Vladivostok
3,PKC,Yelizovo Airport,Petropavlovsk,"(158.45399475097656,53.16790008544922)",Asia/Kamchatka
4,UUS,Yuzhno-Sakhalinsk Airport,Yuzhno-Sakhalinsk,"(142.71800231933594,46.88869857788086)",Asia/Sakhalin
...,...,...,...,...,...
99,MMK,Murmansk Airport,Murmansk,"(32.75080108642578,68.78170013427734)",Europe/Moscow
100,ABA,Abakan Airport,Abakan,"(91.38500213623047,53.7400016784668)",Asia/Krasnoyarsk
101,BAX,Barnaul Airport,Barnaul,"(83.53849792480469,53.363800048828125)",Asia/Krasnoyarsk
102,AAQ,Anapa Vityazevo Airport,Anapa,"(37.347301483154,45.002101898193)",Europe/Moscow
103,CNN,Chulman Airport,Neryungri,"(124.91400146484,56.913898468018)",Asia/Yakutsk

In [20]:
conn.close()