# Test Frubana R&D Software Engineering
## Edilson Fernando Gonzalez

## Libs

In [89]:
!pip install SQLAlchemy
!pip install psycopg2

Requirement already satisfied: SQLAlchemy in c:\users\efgm1\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\efgm1\anaconda3\lib\site-packages (from SQLAlchemy) (1.1.1)
Requirement already satisfied: psycopg2 in c:\users\efgm1\anaconda3\lib\site-packages (2.9.5)

## Setup project

In [90]:
import sqlalchemy
import pandas as pd

db_url = 'postgresql+psycopg2://demo:K2tinVstcd4WY5@localhost:5432/demo'
engine = sqlalchemy.create_engine(db_url)
conn = engine.connect().execution_options(autocommit=True)

## Exercise 1
Create a query to retrieve flights related to planes having the most used aircraft model (tip: use CTE - Common Table Expressions), and load the data in a Pandas DataFrame

In [91]:
ex_1_query = f"""
WITH top_aircraft_model AS (
    SELECT aircrafts_data.aircraft_code, aircrafts_data.model, COUNT(flights.aircraft_code) as flight_count
    FROM aircrafts_data
        INNER JOIN flights on aircrafts_data.aircraft_code = flights.aircraft_code
    GROUP BY aircrafts_data.aircraft_code ORDER BY flight_count DESC LIMIT 1
)
SELECT *
FROM flights
WHERE aircraft_code IN (SELECT top_aircraft_model.aircraft_code FROM top_aircraft_model);
"""
top_aircraft_model_flights = pd.read_sql(ex_1_query, con=conn)
top_aircraft_model_flights

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival
0,13113,PG0612,2017-08-18 13:25:00+00:00,2017-08-18 17:05:00+00:00,ROV,KZN,Scheduled,CN1,NaT,NaT
1,16837,PG0010,2017-09-05 09:25:00+00:00,2017-09-05 11:35:00+00:00,JOK,VKO,Scheduled,CN1,NaT,NaT
2,17173,PG0059,2017-09-14 09:25:00+00:00,2017-09-14 11:45:00+00:00,SCW,NBC,Cancelled,CN1,NaT,NaT
3,19807,PG0035,2017-09-11 03:35:00+00:00,2017-09-11 06:25:00+00:00,MJZ,CNN,Scheduled,CN1,NaT,NaT
4,23780,PG0098,2017-09-02 03:50:00+00:00,2017-09-02 07:30:00+00:00,SWT,CEK,Scheduled,CN1,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...
9268,32864,PG0079,2017-07-26 09:45:00+00:00,2017-07-26 11:10:00+00:00,CEE,LED,Arrived,CN1,2017-07-26 09:48:00+00:00,2017-07-26 11:11:00+00:00
9269,32865,PG0080,2017-08-06 08:25:00+00:00,2017-08-06 09:50:00+00:00,CEE,LED,Arrived,CN1,2017-08-06 08:30:00+00:00,2017-08-06 09:55:00+00:00
9270,32866,PG0079,2017-09-03 09:45:00+00:00,2017-09-03 11:10:00+00:00,CEE,LED,Scheduled,CN1,NaT,NaT
9271,32867,PG0080,2017-09-03 08:25:00+00:00,2017-09-03 09:50:00+00:00,CEE,LED,Scheduled,CN1,NaT,NaT
9272,32868,PG0080,2017-07-26 08:25:00+00:00,2017-07-26 09:50:00+00:00,CEE,LED,Arrived,CN1,2017-07-26 11:17:00+00:00,2017-07-26 12:42:00+00:00

## Exercise 2
Create another query to retrieve tickets booked in the last 6 months, along with their amount. Put the data into a DataFrame.

Using the small sample dataset bookings go from 2017-08-15 to 2017-06-21

In [92]:
ex_2_query = f"""
SELECT tickets.*, ticket_flights.amount, ticket_flights.flight_id
FROM tickets
    INNER JOIN bookings on bookings.book_ref = tickets.book_ref
    INNER JOIN ticket_flights on ticket_flights.ticket_no = tickets.ticket_no
WHERE
    bookings.book_date >= to_date('2017-08-15', 'YYYY-MM-DD') - interval '6 months'
    AND bookings.book_date < to_date('2017-08-16', 'YYYY-MM-DD');
"""

tickets_booked_last_6_months = pd.read_sql(ex_2_query, con=conn)
tickets_booked_last_6_months

,ticket_no,book_ref,passenger_id,passenger_name,contact_data,amount,flight_id
0,0005435176603,EE4891,6158 834332,MIKHAIL NIKOLAEV,{'phone': '+70499131935'},12200.0,20993
1,0005435176592,DAD368,9454 297828,VIKTORIYA FADEEVA,{'phone': '+70273361313'},13400.0,20993
2,0005434186148,EBA0A6,3044 025111,GALINA KONOVALOVA,{'email': 'g-konovalova-12021976@postgrespro.r...,3100.0,17732
3,0005434458435,AECAAE,9532 360973,GENNADIY MOROZOV,{'phone': '+70527428481'},3400.0,29107
4,0005434458452,A5BB5E,6689 980711,RAUF BELOV,"{'email': 'r_belov-19091972@postgrespro.ru', '...",3100.0,29107
...,...,...,...,...,...,...,...
1045721,0005432359521,6357E5,4019 054637,VERA TARASOVA,{'phone': '+70165313811'},12200.0,6411
1045722,0005432359512,5228C7,9792 890120,VALENTINA GERASIMOVA,"{'email': 'v_gerasimova061976@postgrespro.ru',...",12200.0,6411
1045723,0005432359517,9D6AAD,9171 866663,MIKHAIL KUZMIN,{'phone': '+70997367253'},12200.0,6411
1045724,0005432359519,121828,3556 330480,ELENA MAKAROVA,"{'email': 'elenamakarova.1963@postgrespro.ru',...",12200.0,6411
1045725,0005432359530,E72348,9948 503281,VIKTORIYA KULIKOVA,{'phone': '+70037834741'},12200.0,6411

## Exercise 3
Merge both datasets (4) and (5) above into a single one, to get all the flights and their tickets, for te selected planes, using Pandas functionality. Save the result in a table.

In [93]:
import json

tickets_and_flights = pd.merge(top_aircraft_model_flights, tickets_booked_last_6_months, how="inner", on="flight_id")
tickets_and_flights["contact_data"] = tickets_and_flights["contact_data"].apply(json.dumps)
tickets_and_flights.to_sql("tickets_and_flights", con=conn, if_exists="replace")

672

## Exercise 4
Find the average ticket count for each of the selected planes, i.e. those in the result of (6)

In [94]:
tickets_and_flights

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival,ticket_no,book_ref,passenger_id,passenger_name,contact_data,amount
0,672,PG0055,2017-08-10 11:10:00+00:00,2017-08-10 12:25:00+00:00,DME,TBW,Arrived,CN1,2017-08-10 11:11:00+00:00,2017-08-10 12:26:00+00:00,0005435628753,F18C5E,5259 100845,ALINA IVANOVA,"{""email"": ""a.ivanova061974@postgrespro.ru"", ""p...",3700.0
1,672,PG0055,2017-08-10 11:10:00+00:00,2017-08-10 12:25:00+00:00,DME,TBW,Arrived,CN1,2017-08-10 11:11:00+00:00,2017-08-10 12:26:00+00:00,0005435628749,E0EFE3,0160 155000,SVETLANA KONOVALOVA,"{""phone"": ""+70195143754""}",3700.0
2,672,PG0055,2017-08-10 11:10:00+00:00,2017-08-10 12:25:00+00:00,DME,TBW,Arrived,CN1,2017-08-10 11:11:00+00:00,2017-08-10 12:26:00+00:00,0005433348984,219DBB,7018 149523,ANDREY TIKHONOV,"{""email"": ""andrey.tikhonov-071977@postgrespro....",3700.0
3,672,PG0055,2017-08-10 11:10:00+00:00,2017-08-10 12:25:00+00:00,DME,TBW,Arrived,CN1,2017-08-10 11:11:00+00:00,2017-08-10 12:26:00+00:00,0005435628750,EA441C,9524 935194,OKSANA EGOROVA,"{""email"": ""egorova.o_22111976@postgrespro.ru"",...",3700.0
4,672,PG0055,2017-08-10 11:10:00+00:00,2017-08-10 12:25:00+00:00,DME,TBW,Arrived,CN1,2017-08-10 11:11:00+00:00,2017-08-10 12:26:00+00:00,0005433348982,219DBB,8382 359922,VLADIMIR VLASOV,"{""email"": ""vvlasov_101966@postgrespro.ru"", ""ph...",3700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14667,32841,PG0079,2017-09-02 09:45:00+00:00,2017-09-02 11:10:00+00:00,CEE,LED,Scheduled,CN1,NaT,NaT,0005434191327,FAD0D1,7461 049870,IRINA VOLKOVA,"{""email"": ""volkova_irina.1966@postgrespro.ru"",...",4400.0
14668,32841,PG0079,2017-09-02 09:45:00+00:00,2017-09-02 11:10:00+00:00,CEE,LED,Scheduled,CN1,NaT,NaT,0005434191325,2A42D3,5827 914106,TATYANA STEPANOVA,"{""email"": ""t_stepanova-011963@postgrespro.ru"",...",4400.0
14669,32841,PG0079,2017-09-02 09:45:00+00:00,2017-09-02 11:10:00+00:00,CEE,LED,Scheduled,CN1,NaT,NaT,0005434191329,5861B5,5147 936271,ALEKSEY VLASOV,"{""phone"": ""+70175165955""}",4400.0
14670,32841,PG0079,2017-09-02 09:45:00+00:00,2017-09-02 11:10:00+00:00,CEE,LED,Scheduled,CN1,NaT,NaT,0005434191321,4F4194,1119 974926,YURIY VOLKOV,"{""email"": ""y-volkov.04031963@postgrespro.ru"", ...",4400.0
14671,32841,PG0079,2017-09-02 09:45:00+00:00,2017-09-02 11:10:00+00:00,CEE,LED,Scheduled,CN1,NaT,NaT,0005434191322,0BA5C8,6220 950441,GALINA NIKITINA,"{""email"": ""nikitina-galina_1964@postgrespro.ru...",4400.0

In [95]:
tmp1 = pd.DataFrame(tickets_and_flights.groupby(["flight_no", "flight_id"])[["ticket_no"]].count())
tmp1.groupby("flight_no")["ticket_no"].mean()

flight_no
PG0029     3.680851
PG0030     2.613636
PG0032     5.236364
PG0035     4.068966
PG0038    10.000000
PG0055     8.072727
PG0056     7.655172
PG0059     8.036364
PG0061     4.105263
PG0070     8.413793
PG0071     8.070175
PG0077     3.611111
PG0079    11.285714
PG0097     1.692308
PG0098     1.692308
PG0204     6.107143
PG0207     6.107143
PG0263     1.000000
PG0264     4.500000
PG0265     7.236364
PG0299     5.925926
PG0300     5.500000
PG0352     2.650000
PG0354    11.714286
PG0399     6.000000
PG0400     3.000000
PG0401     5.938776
PG0410     5.527273
PG0411     5.428571
PG0438     3.592593
PG0439     1.500000
PG0440     3.581818
PG0456     2.520833
PG0457     7.862745
PG0458     9.472727
PG0465     7.803922
PG0466     7.711538
PG0493     8.214286
PG0494     8.145455
PG0513     5.547170
PG0514     5.345455
PG0535     2.976190
PG0536     8.035714
PG0537     1.000000
PG0538     5.420000
PG0563     3.723404
PG0565     3.375000
PG0583     8.436364
PG0585     7.803571
PG0593     6.052632
PG0594     6.272727
PG0609     2.187500
PG0611     1.794872
PG0618     4.020833
PG0619     3.880000
PG0633     6.037037
PG0634     5.754386
Name: ticket_no, dtype: float64

## Close DB Connection

In [96]:
conn.close()